{% extends "base.html" %}

{% block pageContent %}
            <h1>Listado de Ingresos-Gastos</h1>
            <table>
                <thead>
                    <tr>
                        
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th>Cantidad</th>
                        <th>Actión</th>
                    </tr>
                </thead>


                <tbody>
                    {% for registro in moviments %}
                    <tr>                        
                        <td>{{ registro[1] }}</td>
                        <td>{{ registro[2] }}</td>
                        <td>{{ registro[3] }} €</td>
                        <td><a href="/borrar/{{ registro[0] }}">Borrar</a></td>
                        <td><a href="/modificar/{{ registro[0] }}">Modificar</a></td>
                    </tr>
                    {% endfor %}

                </tbody>

                <tfoot>
                    <tr>
                        <td>Total  = {{totalReg}}</td>
                    </tr>

                </tfoot>

            </table>

            <a href="/nuevo"> Añadir</a>


{% endblock %}  
        