{% extends "base.html" %}

{% block pageContent %}
            <h1>Listado de Ingresos-Gastos</h1>
            <form action="/nuevo" method="post">
                <label for="date">Fecha:</label>
                <br>
                <input type="date" name="date" id="date" value="{{ dataForm.date }}" required>
                <br>
                {{ msgErrors.date }}
                
                <br><br>

                <label for="concept"> Concepto:</label>
                <br>
                <input type="text" name="concept" id="concept" placeholder="Introduce en que te has gastado la pasta" value="{{ dataForm.concept }}">
                <br>
                {{ msgErrors.concept }}
                <br><br>

                <label for="quantity">Cantidad:</label>
                <br>
                <input type="number" name="quantity" id="quantity" placeholder="Euros gastados o ingresados" step="0.01"  value="{{ dataForm.quantity }}">
                <br>
                {{ msgErrors.quantity }}
                <br><br>

                <input type="submit" value="Aceptar">

            </form>
           <!-- <article class="errores">
                <ul>
                    {# {% for error in msgErrors %}    #}
                   <li>
                        {#  {{ error }} #}
                    </li>
                    {#  {% endfor %} #}
                </ul>

            </article> -->

{% endblock %}  