{% extends "base.html" %}

{% block pageContent %}
        <h1>Alta de Ingreso-Gasto</h1>
        <form action="/nuevo" method="post">
                <label for="date">Fecha:</label>
                <input type="date" name="date" 
                       value="{{ dataForm.date }}" required>

                <label for="concept">Concepto:</label>
                <input type="text" name="concept" 
                       placeholder="Introduce en que te has gastado la pasta"
                       value="{{ dataForm.concept }}">

                <label for="quantity">Cantidad</label>
                <input type="number" name="quantity" 
                       placeholder="Euros gastados o ingresados" 
                       step="0.01"
                       value="{{ dataForm.quantity }}">

                <input type="submit" value="Aceptar">
        </form>
        <article class="errores">
                <ul>
                        {% for error in msgErrors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                </ul>
        </article>
        
{% endblock %}