{% extends "base.html" %}

{% block pageContent %}
            <h1>Listado de Ingresos-Gastos</h1>
            <form action="/borrar/{{movRemove[0]}}" method="post">
                <label for="date">Fecha:</label>
                <br>
                <input type="date" name="date" id="date" value="{{ movRemove[1] }}" required readonly>
                <br><br>

                <label for="concept"> Concepto:</label>
                <br>
                <input type="text" name="concept" id="concept"  value="{{ movRemove[2] }}" readonly>
                <br><br>

                <label for="quantity">Cantidad:</label>
                <br>
                <input type="number" name="quantity" id="quantity"  step="0.01"  value="{{ movRemove[3] }}" readonly>

                <br><br>

                <input type="submit" value="Borrar">


            </form>
            
            <p> <a href="/"> Volver</a>  </p> 
{% endblock %}  