{% extends "base.html" %}

{% block pageContent %}
            <h1>Listado de Ingresos-Gastos</h1>
            <form action="/modificar/{{registro[0]}}" method="post">
                <label for="date">Fecha:</label>
                <br>
                <input type="date" name="date" id="date" value="{{ registro[1] }}" required >
                <br><br>

                <label for="concept"> Concepto:</label>
                <br>
                <input type="text" name="concept" id="concept"  value="{{ registro[2] }}" >

                <br><br>

                <label for="quantity">Cantidad:</label>
                <br>
                <input type="number" name="quantity" id="quantity"  step="0.01"  value="{{ registro[3] }}" >

                <br><br>

                <input type="submit" value="modificar">


            </form>
            
            <p> <a href="/"> Volver</a>  </p> 
            <article class="errores">
                <ul>
                        {% for error in msgErrors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                </ul>
        </article>
{% endblock %} 